################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CSharpTest/.vs
/CSharpTest/bin/Debug/net8.0
/CSharpTest/obj
/LINQTest/bin/Debug/net8.0
/LINQTest/obj
