################################################################################
# Build artifacts
################################################################################
bin/
obj/
.vs/

################################################################################
# Visual Studio
################################################################################
*.user
*.suo

################################################################################
# IDE
################################################################################
.vscode/
.idea/

################################################################################
# OS
################################################################################
.DS_Store
Thumbs.db
